{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Quote of the Day Application</h1>
        <nav>
            <ul>
                <li><a href="{% url 'quote' %}">Home</a></li>
                <li><a href="{% url 'show_all' %}">Show All Quotes</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>Created by Haocheng Liu</p>
    </footer>
</body>
</html>
