<!-- voter_analytics/templates/voter_analytics/graphs.html -->
{% extends 'voter_analytics/base.html' %}

{% block content %}
<h1>Voter Data Graphs</h1>

<div class="filter-form">
    <form method="get">
        {{ filter_form.as_p }}
        <button type="submit">Filter</button>
    </form>
</div>

<div class="graphs">
    <div class="graph" style="width: 100%; overflow-x: auto;">
        {{ graph_div_birth|safe }}
    </div>
    <div class="graph" style="width: 100%; overflow-x: auto;">
        {{ graph_div_party|safe }}
    </div>
    <div class="graph" style="width: 100%; overflow-x: auto;">
        {{ graph_div_elections|safe }}
    </div>
</div>
{% endblock %}
