<!-- templates/mini_fb/base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mini Facebook</title>
    <!-- Link to your styles5.css file -->
    <link rel="stylesheet" href="{% static 'styles5.css' %}">
</head>
<body>
    <header>
        <h1>Mini Facebook</h1>
        <nav>
            <!-- 导航链接 -->
            <a href="{% url 'show_all_profiles' %}">Home</a>
            <a href="{% url 'create_profile' %}">Create New Profile</a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        <p>Create By Haocheng Liu (easonlhc@bu.edu)</p>
    </footer>
</body>
</html>
