{% extends 'quotes/base.html' %}


{% block title %}About{% endblock %}

{% block content %}
<h2>About the Person</h2>
<p>Here are brief introductions to the famous people whose quotes are featured:</p>

<ul>
    <li><strong>Franklin D. Roosevelt:</strong> 32nd President of the United States, known for leading the country during the Great Depression and World War II.</li>
    <li><strong>Roy T. Bennett:</strong> Motivational author known for his works on personal growth and positivity, including "The Light in the Heart".</li>
    <li><strong>Martin Luther King Jr.:</strong> American civil rights leader famous for his nonviolent resistance and the "I Have a Dream" speech.</li>
    <li><strong>Peter Drucker:</strong> Father of modern management, known for his contributions to leadership and management theory.</li>
</ul>

<h2>About the App Creator</h2>
<p>This app is create by Haocheng Liu, CAS CS 2025.</p>
{% endblock %}
